body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    height: 100%;
    min-height: 100%;
}


header {
    background-color: #124a6c;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

div {
    padding: 20px;
    
}
/* div.principal
{
  background-image: url(fondo.jpg);
  background-size: cover;
  align-items: center;
} */

div.opciones
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

div.opcionesinter
{
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  border-radius: 5px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"],
select {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 200px;
}

button[type="submit"] {
    padding: 8px 12px;
    background-color: #124a6c;
    border: none;
    color: #fff;
    cursor: pointer;
}

h2 {
    color: #124a6c;
}

h3 {
    color: #124a6c;
}

p {
    margin-bottom: 10px;
}

footer {
    background-color: #124a6c;
    color: #fff;
    padding: 10px;
    width: 100%;
    text-align: center;
    position: fixed;
    left:0px;
    bottom:0px;
}

/* menu */

div.animation{
  padding: 0;
}
nav {
	margin: 27px auto 0;

	position: relative;
	width: fit-content;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a.opcionesmenu:nth-child(1) {
	width: 100px;
}
a.opcionesmenu:nth-child(2) {
	width: 110px;
}
a.opcionesmenu:nth-child(3) {
	width: 100px;
}

nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: #3498db;
}

h1 {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 30px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}
  
  table {
    border-collapse: collapse;
  }
  
  table td {
    padding: 10px;
  }